<include file="./Admin/Tpl/Templates/mobile/header.html" />

<script>
$(document).ready(function(){
	var  page = 1;
	var  cat_id='<?php echo cat_id();?>';
	var isLoading = false;
	function loadNews(){		
		isLoading = true;
		$('#newLoading').show();
		
		$.get('/index.php/Content/ajax_pro',{method:'ajax',page:page,cat_id:cat_id},function(data){
			//alert(data);
			if(data != -1){
				$('.huodong_ul').append(data);
				$('#newLoading').delay(500).hide();
				isLoading = false;
				page += 1;
			}else{
				isLoading = false;
				$('#newLoading').delay(500).hide();
			}
		});
	}
	
	
	$(document).scroll(function(){
		var isBottom = $(document).height() - ( $(window).height() + $(window).scrollTop() );
		
		if(isBottom<4  && ( isLoading==false ) ){
			loadNews();
		}
	});
	loadNews();
});
</script>



<div class="m_lkuai" style="margin:0 auto">
	<div class="m_lkuai_l">
		<a href="__APP__/Content/lists/cat_id/102">
			<img src='__PUBLIC__/statics/default/images/pro2.png'/>
		</a>
	</div>
	<div class="m_lkuai_r">
		<a href="__APP__/Content/lists/cat_id/105">
			<img src='__PUBLIC__/statics/default/images/pro3.png'/>
		</a>
	</div>
</div>

<div class="md20"></div>

<ul class="cat_uol">
	<?php $subcat = sub_cat(top_parent(cat_id())) ?>
	
	<?php foreach($subcat as $subcatRow){ ?>
	<li class="cat_uol_li" ><a href="{$Think.const.CAT_PATH}/{$subcatRow[category_id]}" class="cat_asdf <?php if(cat_id()==$subcatRow['category_id']) {echo 'cat_asdf_active'; } ?>">{$subcatRow['cat_name']}</a></li>
	<?php } ?>	


</ul>
<div class="md20"></div>

<div class="pro_ge_f"></div>
<div class="md20"></div>


<?php $pros = cat2article($cat_id=cat_id(),$is_all=1,$num=50,$order='no')?>
<ul class="pro_ul huodong_ul" style="min-height:400px;">
	

</ul>




<div class="md10"></div>


<div class="ajax_load" >
	<img id='newLoading' src='__PUBLIC__/statics/default/images/loading.gif' style="display:none"/>
</div>

<div class="md30"></div>
		
<div class="footer_b">
	<img class="footdfer" src='__PUBLIC__/statics/default/images/123.png' style="display:inline-block； width"/>
	<span></span>
</div>







<include file="./Admin/Tpl/Templates/mobile/footer.html" />