<include file="./Admin/Tpl/Templates/default/header.html" />

<div class="md20"></div>

<ul class="fangan_ul">

	<li><a href="__APP__/Content/lists/cat_id/105" class="fangan_ul_a_d <?php if(cat_id()==105) {echo 'fangan_li_nor'; } ?>">美派简介</a></li>
	<li><a href="__APP__/Content/lists/cat_id/106" class="fangan_ul_a_d <?php if(cat_id()==106) {echo 'fangan_li_nor'; } ?>">品牌背景</a></li>
	<li><a href="__APP__/Content/lists/cat_id/107" class="fangan_ul_a_d <?php if(cat_id()==107) {echo 'fangan_li_nor'; } ?>">美派新闻</a></li>
	<li><a href="__APP__/Content/lists/cat_id/105" class="fangan_ul_a_d">美国达泰瓷砖</a></li>
	<li><a href="__APP__/Content/lists/cat_id/105" class="fangan_ul_a_d">意大利马拉齐</a></li>

</ul>

<div class="md30"></div>


<div class="site_yrl">{$site_nav}</div>

<div class="md30"></div>

<div class="single_center">
	<p class="mei_jian_title">美派新闻</p>
	<p class="mei_jian_title2">news</p>
	
	
	<div class="md50"></div>
	
	<?php $arts = cat2article(cat_id(),$is_all=1,$num=20,$order='no'); ?>
	
	
	<div class="nes_ul">
		<?php foreach($arts['lists'] as $art){ ?>
		<div class="new_li">
			<a href="{$Think.const.CON_PATH}/{$art[article_id]}/cat_id/{$art[cat_id]}">
				<img src='{$art.thumb}' class="news_mg"/>
				
				<div class="news_right">
					<p class="chuang_uol">{$art.title}</p>
					<p class="news_date">{$art.datetime|date="Y-m-d H:i",###}</p>
					
					<div class="clear"></div>
					
					<div class="newa_desc">
						{$art.description}
					</div>
				</div>
			</a>
		</div>
		<?php } ?>

	</div>
	
	
	<div class="md50"></div>
	<div class="md50"></div>
	<div class="clear"></div>
</div>





<include file="./Admin/Tpl/Templates/default/footer.html" />