<include file="./Admin/Tpl/Templates/default/header.html" />
	
	<div id="main_contact">
		<div id="main_contact_con">
			<img src="{$list_thumb}" />
			<div id="contact_con_left">
				<div id="side_nav_wrap">
					<div id="side_nav_con">
						<img id="about_tit" src="__PUBLIC__/statics/default/images/case_tit.png" />
						<?php $subcat = sub_cat(top_parent(cat_id())) ?>
						<ul id="side_nav2" cat_id="<?php echo cat_id(); ?>" >
						<?php foreach($subcat as $subcatRow){ ?>
							<li cat_id="{$subcatRow[category_id]}" ><a href="{$Think.const.CAT_PATH}/{$subcatRow[category_id]}">{$subcatRow['cat_name']}</a></li>
						<?php } ?>		
						</ul>
						<div class="clear"></div>
					</div>
					<div id="side_nav_bo_bg"></div>
				</div>
			</div>
			<div id="contact_con_right">
				<div id="contact_con_right_mid" style="margin-top:-3px;">
					
					<div id="contact_con_con">
					<?php $art = cat2article(cat_id()); ?>
						<ul id="anli_list">
						<?php foreach($art['lists'] as $key=>$artRow){ ?>
							<li>
								<div class="anli_list_tit">
									<p class="anli_list_name_ch">{$artRow['title']}</p>
									<p class="anli_list_name_eng">{$artRow['eng_title']}</p>
									<p class="anli_list_num">NO.<?php echo $key+1; ?></p>
								</div>
								<a href="{$Think.const.CON_PATH}/{$artRow[article_id]}/cat_id/{$artRow[cat_id]}">
									<img class="anli_thumb" src="{$artRow['thumb']}" width='296' height='196' />
								</a>
								<div class="anli_list_desc">
									{$artRow['description']}
								</div>
							</li>
							
						 <?php } ?>	
							
						</ul>
					</div>
				</div>
				<div id="contact_con_right_bo"></div>
			</div>
		</div>
		
<include file="./Admin/Tpl/Templates/default/footer.html" />
